body {
  background: orange;
  text-align: center;
}
.addbutton {
  background: lightblue;
  height: 20px;
  width: 40px;
}
.deletebutton {
  background: lightblue;
  height: 20px;
  width: 40px;
}
.headerLine {
  height: 2px;
  width: 100%;
  background: black;
  margin-bottom: 20px;
}
